body {
  margin: 0;
}

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.4s ease 0s;
  width: 30%;
  min-width: 400px;
}
.cardBox:hover .card {
  transform: rotateY(180deg);
}
.card {
  background: #150a0a;
  cursor: pointer;
  height: 400px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease 0s;
  width: 100%;
  position: relative;
}
.card p {
  margin-bottom: 1.8em;
}
.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em 0.7em;
  position: absolute;
  text-align: center;
  width: 100%;
  overflow-y: auto;
}

.flipIcon{
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}
.card .back {
  transform: rotateY( 180deg);
}
.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}
.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}

.text-transition {
  position: relative;
}

.text-transition .text {
  display: block;
  width: 100%; /* Add width property */
  height: 100%; /* Add height property */
  animation: flip 0.5s ease-in-out forwards;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  50% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}